.marscode
.vscode
node_modules
dist
.env
.env.local
.env.*.local
.DS_Store
npm-debug.log*
yarn-debug.log*
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.war
*.jar
*.iml
*.ipr

GEMINI.md